.slogan-container {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    height:800px;
    background-image: url("assets/AwningThree.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    color: #ffffff;
    margin-bottom: 100px;
  }

  .family-container{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    height: 600px;
    background-image: url("assets/WilliamsFamily.jpg");
    background-repeat: no-repeat;
    background-position: 100% 37%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 5vw;
    color: #ffffff;
    margin-bottom: 100px;
  }

.concrete-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 25px;

  }
  
  .concrete-text {
    width: 50%;
    height: 400px;
    object-fit: cover;
    background-color: #bebc5e;
    color: #0e0906;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* font-size: x-large; */
    font-size: 2.5vw;
    padding: 15px
 
  }

  .concrete-image {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 60%;
    background-image: url("assets/DrivewayAfter.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding-bottom: 75px; */
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 7vw;
    color: #ffffff;
    margin-left: 25px;
  }

  .remodel-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 25px;
  }

  .remodel-image {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 50%;
    background-image: url("assets/AwningTwo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding-bottom: 75px; */
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 7vw;
    color: #ffffff;
    margin-right: 25px;
  }

  .handyman-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* margin-bottom: 25px; */
  }

  .handyman-image {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 60%;
    background-image: url("assets/StairsBefore.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding-bottom: 75px; */
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 5.5vw;
    color: #ffffff;
    margin-left: 25px;
  }

  .services-parallax {
    background-image: url("assets/Real\ Marble\ White\ 07\ -\ 16x9.jpg");
    /* padding-top: 20px; */
    min-height: 500px;
    /* Create the parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 15px;
  }

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}