@import url('https://fonts.googleapis.com/css?family=Bebas Neue');
@import url('https://fonts.googleapis.com/css?family=Old Standard TT');

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.slogan-container {
    font-family: 'Bebas Neue';
    width: calc(100% - 40px); /* Adjust for 20px padding on each side */
    padding: 20px;
    height:700px;
    background-image: url("assets/AwningThreeBlur.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: end;
    font-size: 8vw;
    color: #ffffff;
    text-shadow:
1px 1px 0 #000,
-1px 1px 0 #000,
-1px -1px 0 #000,
1px -1px 0 #000;
    margin-bottom: 50px;
  }

  .family-container{
    font-family: 'Old Standard TT';
    /* width: 100%; */
    background-image: url("assets/WilliamsFamily.jpg");
    padding: 20px;
    min-height: 600px;
    /* Create the parallax effect */
    background-attachment: fixed;
    background-position: 60% 37%;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 15px;
    padding-bottom: 15px;
    padding: 15px; */
    /* height: 600px;
    background-image: url("assets/WilliamsFamily.jpg");
    background-repeat: no-repeat;
    background-position: 60% 37%;
    background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 4vw;
    color: #ffffff;
    width: calc(100% - 40px); /* Adjust for 20px padding on each side */
    /* padding: 20px; */
    margin-bottom: 50px;
    text-shadow:
    .5px .5px 0 #000,
    -.5px .5px 0 #000,
    -.5px -.5px 0 #000,
    .5px -.5px 0 #000;
  }

.concrete-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 25px;

  }
  
  .concrete-text {
    font-family: 'Old Standard TT';
    width: 50%;
    height: 400px;
    object-fit: cover;
    background-color: #bebc5e;
    color: #0e0906;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* font-size: x-large; */
    font-size: 2vw;
    width: calc(100% - 40px); /* Adjust for 20px padding on each side */
    padding: 20px;
    
 
  }

  .concrete-image {
    font-family: 'Bebas Neue';
    /* width: 60%; */
    background-image: url("assets/DrivewayAfter.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding-bottom: 75px; */
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 5vw;
    color: #ffffff;
    margin-left: 25px;
    width: calc(100% - 40px); /* Adjust for 20px padding on each side */
    padding: 20px;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
  }

  .remodel-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 25px;
  }

  .remodel-image {
    font-family: 'Bebas Neue';
    width: 50%;
    background-image: url("assets/AwningTwo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding-bottom: 75px; */
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 5vw;
    color: #ffffff;
    margin-right: 25px;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
  }

  .handyman-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* margin-bottom: 25px; */
  }

  .handyman-image {
    font-family: 'Bebas Neue';
    width: 60%;
    background-image: url("assets/StairsBefore.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding-bottom: 75px; */
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 5.5vw;
    color: #ffffff;
    margin-left: 25px;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
  }

  .services-parallax {
    background-image: url("assets/Real\ Marble\ White\ 07\ -\ 16x9.jpg");
    /* padding-top: 20px; */
    min-height: 500px;
    /* Create the parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 15px;
  }

  .quote-block {
    font-family: 'Bebas Neue';
    width: 100%;
    height: 500px;
    background-color: #0e0906;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: xx-large;
    color: #ffffff;
    margin-bottom: 150px;
    margin-top: 150px;
  }

  .need-quote {
    width: 350px;
    height: inherit;
    object-fit: cover;
    background-color: #8c1527;
    color: #0e0906;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    padding: 20px;
  }

  button {
    background-color:darkblue;

    border: none;
    color:azure;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
  }

  button:hover {
    background-color: #e7e7e7; color: black;
    color: black;
  }

  .contact-block {
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: baseline;
    align-items: center;
    color: #ffffff;
    /* background-color: #bebc5e; */
  }
  
  .contact-block-image {
      width: 50%;
      height: auto;
      object-fit: cover;
  }

  @media only screen and (max-width: 600px) {
    .slogan-container {
      height: 600px;
    }
    .concrete-text {
      font-size: 2.5vh;
    }
    .family-container {
      font-size: 4vh;
      width: calc(100% - 40px); /* Adjust for 20px padding on each side */
      padding: 20px;
    }
    .concrete-image {
      font-size: 4.5vh;
      width: calc(100% - 40px); /* Adjust for 20px padding on each side */
      padding: 5px;
    }
    .remodel-image {
      font-size: 4.5vh;
      width: calc(100% - 20px); /* Adjust for 20px padding on each side */
      padding: 5px;
    }
    .handyman-image {
      font-size: 4.5vh;
      width: calc(100% - 20px); /* Adjust for 20px padding on each side */
      padding: 5px;
    }
    .slogan-container {
      font-size: 8vh;
    }
    .need-quote {
      width: 40%
    }
    .contact-block {
      font-size:3vh;
    }
    
  }